:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-btn: #007bff;
  --delete-btn: #ff4d4d;
  --warning-color: #ffc107;
  --success-color: #28a745;
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --primary-btn: #375a7f;
  --delete-btn: #431111;
  --warning-color: #856404;
  --success-color: #155724;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
